p {
    font-size: 15px;
    display: inline;
    margin-right: 20px;
}
#call_form {
    display: none;
}
.container {
    margin-top: 50px;
    margin-left: 40px;
    position: absolute;
}
.container_input {
    display: block;
}
.input {
    border-collapse: collapse;
    color: rgb(0, 0, 0);
    display: block;
    font-size: 12.8px;
    font-weight: 800;
    line-height: 20px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    width: 450px;
}
.input_phone {
    margin-top: 20px;
    width: 450px;
}
#loading {
    display: none;
}
.submit {
    background-color: #8bb0ff;
    margin-top: 20px;
    height: auto;
    width: auto;
    font-size: medium;
}
#error_text {
    display: none;
    color: red;
    margin-bottom: 10px;
}
